.scrollbox {
    width: 100%;
    min-height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.scrollboxitem {
    color: white;
    margin: 2rem;
    object-fit: contain;
}