.image {
    max-width: 300px;
    min-width: 200px;
    padding: 25px;
}

.wrapper {
    margin: 15px 10px;
    border-radius: 16px;
}

.popWrapper {
    max-height: 80vh;
    max-width: 900px;
    border-radius: 16px;
}

.popTitle {
    text-align: center;
    font-weight: bold;
    margin: 20px;
    font-size: 2.2rem;
}

.popSpan {
    margin: 0 15px 15px;
    font-weight: bold;
}

.popBlock {
    margin: 0 15px;
}

.popFact {
    margin: 0 15px;
    padding: 0 0 15px;
}
.interestingFact {
    padding: 0px 2px 0px 8px;
    margin-right: 6px;
    border-radius: 4px;
}

.popFact a {
    text-decoration: none;
    color: #01579b;
    font-weight: bold;
}

.popFact a:visited {
    color: inherit;
    color: #01579b;
    font-weight: bold;
}

.subDetails {
    padding: 2px 0px 2px 8px;
    margin-right: 12px;
    border-radius: 4px;
}

.regionPill {
    border-radius: 16px;
    padding: 1px 16px;
    margin-left: -4px;
}