.wrapper {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    max-height: 90vh;
}

.image {
    max-height: 90vh;
    max-width: 100vw;
    object-fit: contain;
    position: relative !important;
}


.button {
    position: absolute
}

.popoverBox {
    max-width: 350px;
}

.title {
    text-align: center;
    margin: 20px auto;
    font-weight: bold;
    border-radius: 48px;
    max-width: 65%;
    padding: 2px 0;
    font-size: 1.8rem;
}

.notableBrands {
    border-radius: 16px;
    padding: 0px 4px 0px 8px;
    margin-right: 6px;
    /* margin-bottom: 4px; */
}

.descBlock {
    margin: 0 15px;
}

.brandBlock {
    margin: 0 15px 20px;
}

.descBlock a {
    text-decoration: none;
    color: #01579b;
    font-weight: bold;
}

.descBlock a:visited {
    color: inherit;
    color: #01579b;
    font-weight: bold;
}