.wrapper {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.image {
    max-height: 90vh;
    max-width: 100vw;
}

.button {
    position: absolute
}

.popoverBox {
    max-width: 350px;
}

.title {
    text-align: center;
    margin: 20px auto;
    font-weight: bold;
    border-radius: 48px;
    max-width: 60%;
    padding: 4px 0;
}

.notableBrands {
    border-radius: 16px;
    padding: 4px 0px 4px 8px;
    margin-right: 6px;
    /* margin-bottom: 4px; */
}



.descBlock {
    margin: 0 15px;
}

.brandBlock {
    margin: 0 15px 20px;
}

