.popoverBox {
    min-width: 300px;
    max-width: 90vw;
    width: 500px;
    aspect-ratio: 1 / 1;
}

.topPopper {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 10;
}

.bottomPopper {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 10;
}

