

.button {
    /* margin: 0 auto; */
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 10;
}

.popoverBox {
    max-width: 350px;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

