.totalCountStyle {
    height: 350px;
    text-align: center;
    padding-top: 64px;
}

.totalCountStyle > h1 {
    margin: 16px;
    color: red;
}

.recognizedDataStyle {
    height: 350px;
    padding-top: 64px;
    text-align: center;
}

.recognizedDataStyle > ol {
   display: inline-block;
   text-align: left;
}

.recognizedDataStyle li {
    padding: 2px 8px;
 }

.belovedDataStyle {
    height: 350px;
    padding-top: 64px;
    text-align: center;
}

.belovedDataStyle > ol {
    display: inline-block;
    text-align: left;
}

.belovedDataStyle li {
    padding: 2px 8px;
}

.popularRegionDataStyle {
    height: 400px;
    text-align: center;
    padding: 0 16px 16px;
}

.popularRegionDataStyle > h6 {
    padding: 16px 0;
}

.popularRegionDataStyle > canvas {
    margin: 0 auto;
}

.comparedToDataStyle {
    height: 400px;
    text-align: center;
    padding: 0 16px 16px;
}

.comparedToDataStyle > h6 {
    padding: 16px 0;
}

.hoverDataStyle {
    height: 400px;
    text-align: center;
    padding: 0 16px 16px;
}

.hoverDataStyle > h6 {
    padding: 16px 0;
}

.hoverDataStyle > canvas {
    margin: 0 auto;
}

.whiskyNoteDataStyle {
    text-align: center;
    padding: 0 16px 16px;
    height: 400px;
}

.wordcloud {
    width: 100%;
    margin: 0 auto;
}